/* v4 replacements */
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}

* {
  border-color: hsl(var(--foreground) / 0.1);
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
